In [184]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [185]:
url='https://www.stockq.org/market/asia.php'

In [186]:
print(url)

https://www.stockq.org/market/asia.php

In [187]:
response =requests.get(url)

In [ ]:
response.text #html_content = response.text

In [189]:
if response.status_code ==200:
  soup =BeautifulSoup(response.text, 'html.parser')

In [190]:
table = soup.find("table", {"class": "marketdatatable"})

In [191]:
#for x in soup.find_all('tr', class_=['row1','row2']):
  #print(x.text.strip(),"")

In [202]:
stock_markets = []
indices =[]
high_prices = []
lowest_prices = []

data = {
    "股市": stock_markets,
    "指數": indices,
    "最高": high_prices,
    "最低": lowest_prices,
}

In [203]:
#for x in soup.find_all('td',align='left'):   #股市

#    name.append(x.text.strip())

#print(name)
#print(len(name))

In [204]:
#stock_markets = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    if len(cols) >= 1:  # 確保列數足夠，避免錯誤
        market_data = cols[0].text.strip()
        stock_markets.append(market_data)

print(stock_markets)
print(len(stock_markets))

['股市', '紐西蘭', '澳洲', '日經225', '東證股價', '東證100', '東證500', '東證1000', '韓國', '台灣加權', '台灣店頭', '台灣50', '上海綜合', '上海A股', '上海B股', '深圳A股', '深圳B股', '滬深300', '深證成指', '中小板指', '創業板指', '富時中國 A50', '香港恆生', '香港國企', '香港紅籌', '恆生科技', '香港創業板', '越南', '印度', '印尼', '菲律賓', '馬來西亞', '泰國', '新加坡']
34

In [205]:
#indices = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    if len(cols) >= 1:  # 確保列數足夠，避免錯誤
        index_data = cols[1].text.strip()
        indices.append(index_data)

print(indices)
print(len(indices))

['指數', '11878.49', '7861.00', '38001.00', '2663.31', '1829.88', '2083.71', '2521.02', '2584.29', '20213.33', '250.33', '15839.53', '3071.38', '3219.94', '256.47', '1778.96', '1068.68', '3565.4', '9381.77', '5751.54', '1797.31', '12259.62', '16251.84', '5749.69', '3431.77', '3340.22', '15.89', '1193.01', '72943.68', '7163.11', '6450.04', '1540.42', '1366.94', '3154.69']
34

In [206]:
# 找到最高這一欄的資料
#high_prices = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    if len(cols) >= 4:  # 確保列數足夠，避免錯誤
        high_price = cols[4].text.strip()
        high_prices.append(high_price)

print(high_prices)
print(len(high_prices))

['最高', '11889.12', '7891.20', '38638.50', '2704.90', '1857.94', '2116.85', '2560.58', '2626.63', '-', '250.41', '15892.41', '3071.38', '3219.94', '256.48', '1778.96', '1068.68', '3565.94', '9381.77', '5751.54', '1797.55', '12266.31', '16316.69', '5776.56', '3438.55', '3374.51', '15.89', '1221.47', '73135.43', '7234.37', '6497.82', '1541.88', '1380.12', '3255.33']
34

In [207]:
# 找到最低價格這一欄的資料
#lowest_prices = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    if len(cols) >= 5:  # 確保列數足夠，避免錯誤
        lowest_price = cols[5].text.strip()
        lowest_prices.append(lowest_price)

print(lowest_prices)
print(len(lowest_prices))

['最低', '11762.28', '7847.70', '37968.50', '2663.31', '1829.88', '2083.71', '2521.02', '2584.29', '-', '245.81', '15597.84', '3002.06', '3147.23', '252.15', '1712.84', '1059.83', '3498.03', '9148.82', '5613.85', '1759.51', '12078.18', '16155.83', '5714.17', '3404.88', '3306.29', '15.5', '1193.01', '72685.03', '7159.68', '6424.81', '1532.95', '1363.44', '3154.69']
34

In [208]:
print(len(stock_markets))
print(len(indices))
print(len(high_prices))
print(len(lowest_prices))

34
34
34
34

In [209]:
stock_markets.pop(0)
indices.pop(0)
high_prices.pop(0)
lowest_prices.pop(0)

'最低'

In [210]:
df = pd.DataFrame(data)

df.index = [str(i) for i in range(1, 34)]
df.columns = ["Stock_market", "Index", "Highest","lowest"]  #欄位名稱

print(df)
# 將 DataFrame 輸出為 CSV 文件
df.to_csv('data.csv', index=False)
# 將 DataFrame 輸出為 JSON 文件
df.to_json('data.json', orient='records')

   Stock_market     Index   Highest    lowest
1           紐西蘭  11878.49  11889.12  11762.28
2            澳洲   7861.00   7891.20   7847.70
3         日經225  38001.00  38638.50  37968.50
4          東證股價   2663.31   2704.90   2663.31
5         東證100   1829.88   1857.94   1829.88
6         東證500   2083.71   2116.85   2083.71
7        東證1000   2521.02   2560.58   2521.02
8            韓國   2584.29   2626.63   2584.29
9          台灣加權  20213.33         -         -
10         台灣店頭    250.33    250.41    245.81
11         台灣50  15839.53  15892.41  15597.84
12         上海綜合   3071.38   3071.38   3002.06
13         上海A股   3219.94   3219.94   3147.23
14         上海B股    256.47    256.48    252.15
15         深圳A股   1778.96   1778.96   1712.84
16         深圳B股   1068.68   1068.68   1059.83
17        滬深300    3565.4   3565.94   3498.03
18         深證成指   9381.77   9381.77   9148.82
19         中小板指   5751.54   5751.54   5613.85
20         創業板指   1797.31   1797.55   1759.51
21     富時中國 A50  12259.62  12266.31  12078.18
22         香港恆生  16251.84  16316.69  16155.83
23         香港國企   5749.69   5776.56   5714.17
24         香港紅籌   3431.77   3438.55   3404.88
25         恆生科技   3340.22   3374.51   3306.29
26        香港創業板     15.89     15.89      15.5
27           越南   1193.01   1221.47   1193.01
28           印度  72943.68  73135.43  72685.03
29           印尼   7163.11   7234.37   7159.68
30          菲律賓   6450.04   6497.82   6424.81
31         馬來西亞   1540.42   1541.88   1532.95
32           泰國   1366.94   1380.12   1363.44
33          新加坡   3154.69   3255.33   3154.69

In [ ]:
#table = soup.find("table", {"class": "marketdatatable"}) # 找到表格

In [ ]:
#data = []
#rows = table.find_all("tr")
#for row in rows:
    #cols = row.find_all(["th", "td"])
    #cols = [col.text.strip() for col in cols]
    #data.append(cols)
# 從表格中擷取資料

In [ ]:
#header = data[0]
#data = data[1:]
# 移除表頭

In [ ]:
# 將資料轉換為 DataFrame
#df = pd.DataFrame(data, columns=header)

# 進行資料清洗，例如移除不需要的欄位或處理缺失值等
# 只保留股票名稱和價格欄位
#df_cleaned = df[['股票名稱', '最新價']].copy()

# 輸出 CSV
#df_cleaned.to_csv("stock_data.csv", index=False)

# 輸出 JSON
#json_data = df_cleaned.to_json(orient='records')
#with open("stock_data.json", "w") as json_file:
    #json_file.write(json_data)